# Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# SCons
.sconsign.dblite
addon/doc/en/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Addon build output
*.nvda-addon
*.pot
*-merge.pot

# Downloaded tools
scons-*/
